{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-5">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.role) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success mt-4">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
