{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon panier</h1>

<ul class="list-group">
    {% for product in data.products %}

                    <a href="{{path('app_product', {'id':product.id})}}" class="text-decoration-none">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img height="150px" src={{product.image}} />
                        <div>
                            <span class="badge bg-primary rounded-pill-pill ">{{data.qt[loop.index -1]}}</span>
                            <h3>{{product.title}}</h3>
                            <p>{{product.description}}</p>
                            <p>Marque: {{product.brand}}</p>
                            <p>Vendeur: {{product.seller.firstname}} {{product.seller.name}}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">    
                    </div>
                    </li>         
                </a>       
    {% endfor %}
</ul>
<div class="d-flex justify-content-end mt-5">
        <button class="btn btn-success">Valider mon achat</button>
</div>
</div>
{% endblock %}
