{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon panier</h1>

<ul class="list-group">
    {% for product in data.products %}

                    <a href="{{path('app_product', {'id':product.id})}}" class="text-decoration-none">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img height="150px" src={{product.image}} />
                        <div>
                            <span class="badge bg-primary rounded-pill-pill ">{{data.qt[loop.index -1]}}</span>
                            <h3>{{product.title}}</h3>
                            <p>{{product.description}}</p>
                            <p>{{product.brand}}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">    
                    {# <form method="post" action="{{path('app_product_edit', {'id':product.id})}}">
                        <button type="submit" class="btn btn-primary">Editer</button>
                    </form>

                        <form method="post" action="{{path('app_product_delete', {'id':product.id})}}" onsubmit="return confirm('Confirmer la suppression de {{product.title}}?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form> #}

                    </div>
                    </li>         
                </a>       
    {% endfor %}
</ul>
</div>
{% endblock %}
