{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container">
    <h1>Derniers articles</h1>

    <table class="table">

        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_article_show', {'id': article.id}) }}">Lire l'article</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article n'est en ligne</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
