{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container">
    <h1>Produits en vente</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn action_button">{{ button_label|default('Envoyer') }}</button>
			{{ form_end(form) }}


    <div class="d-flex justify-content-around flex-wrap">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{product.image}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">Prix: {{product.price}} $</p>
            <p class="card-text">Catégorie: {{product.category.name}}</p>
            <p class="card-text">Marque: {{product.brand}}</p>
            <a href="{{ path('app_product', {'id':product.id}) }}" class="btn btn-primary">Voir l'article</a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
