{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon profil</h1>
    <div class="container mt-5">
        <div class="">
            <h2>Mes informations</h2>
            <p>Nom Prénom: {{user.name}} {{user.firstname}}</p>
            <p>Adresse email: {{user.email}}</p>
            <p>Date d'inscription: {{user.createdAt|date('Y-m-d H:i:s')}}</p>
            <p>Inscrit sur le site en tant que: {{user.roles|first}}
        </div>

        <div class="mt-5">
            <h2>Mes produits</h2>
                <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img height="150px" src={{product.image}}/>
                    <div>
                        <h3>{{product.title}}</h3>
                        <p>{{product.description}}</p>
                    </div>
                </div>
                <span class="badge badge-primary badge-pill text-black">{{product.quantity}}</span>
                </li>                
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
