{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des articles</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.published ? 
                        '<span class="badge bg-success rounded-pill-pill">Publié</span>' : 
                        '<span class="badge bg-warning rounded-pill-pill">Brouillon</span>' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article n'a encore été publié</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-primary" href="{{ path('app_article_new') }}">Ecrire un nouvel article</a>
</div>
{% endblock %}
