{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des catégories</h1>

    {{ form_start(form) }}
    {{ form_widget(form.sort) }}
        <button class="btn btn-primary">Filtrer</button>
    {{ form_widget(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie existante</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_category_new') }}">Ajouter une nouvelle catégorie</a>
</div>
{% endblock %}
