{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des produits</h1>
    {{ form_start(sortForm) }}
    {{ form_widget(sortForm) }}
    <button class="btn btn-primary">Filtrer</button>
    {{ form_end(sortForm) }}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Vendeur</th>
                <th>Titre</th>
                <th>Quantité</th>
                <th>Catégorie</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.seller.firstname }} {{ product.seller.name }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.published ? 
                        '<span class="badge bg-success rounded-pill-pill">Publié</span>' : 
                        '<span class="badge bg-warning rounded-pill-pill">Brouillon</span>' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun produit n'a encore été publié</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
