{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Roles</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|first }}</td>
                <td>{{ user.id }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun utilisateur inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
