{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('app_product_index') }}" class="btn btn-primary">Retour a la liste des articles</a>
<div class="container d-flex justify-content-center align-items-center flex-column">

    <img height="300px" width="300px" src="{{product.image}}" alt="product image">
    <h1>{{product.title}}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ product.category.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Mise en ligne le </th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Produit mis a jour le</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise en vente par </th>
                <td>{{ product.seller.name}} {{product.seller.firstname}}</td>
            </tr>
        </tbody>

    </table>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Ajouter dans mon panier</button>
        {{ form_end(form) }}    
    <div>
            
    </div>
    </div>
    </div>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
