  <nav class="navbar navbar-expand-lg navbar-light bg-dark">  
  <a class="navbar-brand text-light" href="{{ path('app_admin_index') }}">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text">
      <a class="nav-item nav-link active text-light" href=" {{ path('app_admin_product') }} ">Produits </a>
      <a class="nav-item nav-link active text-light" href=" {{ path('app_admin_article') }} ">Articles </a>
      <a class="nav-item nav-link active text-light" href=" {{ path('app_admin_category') }} ">Categories </a>
      <a class="nav-item nav-link active text-light" href=" {{ path('app_admin_user') }} ">Utilisateurs </a>
    </div>
  </div>
</nav>
