  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href=" {{ path('app_product_index', {'order':'asc'}) }} ">Produits </a>
      {% if app.user %}

         <a class="nav-item nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
         <a class="nav-item nav-link" href="{{ path('app_profile', {'id':app.user.id}) }}">Profil</a>
         {% else %}
         <a class="nav-item nav-link" href="{{ path('app_login') }}">Connexion</a>
         <a class="nav-item nav-link" href="{{ path('app_register') }}">Inscription</a>
      {% endif %}
    </div>
  </div>
</nav>
